@import url('https://fonts.googleapis.com/css2?family=Doppio+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&display=swap');

/* zerando a página */
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F1EEE4;
}

header img{
    width: 101%;
    height: 250px;
    margin-top: -80px;
}

.foto {
    height: -900px;
}

/* Cabeçalho */
header {
    font-family: "Doppio One",serif;
    padding: 20px;
    text-align: center;
    color: #A3027A;
    font-weight: bold;
    font-size: 24px;
    margin-left: -800px;
}

header h1{
    margin-top: -190px;
    margin-left: 210px;
}


.banner{
    font-family: "Cormorant Garamond",serif;
    background-color: #F9E3F3;
    margin: 40px auto;
    padding: 40px;
    border-radius: 10px;
    width: 70%;
    box-shadow: 0 4px 8px hsla(0, 0%, 0%, 0.249);
    font-size: 25px;
    margin-top: 25px;
}

.banner p{
    margin-left: 90px;
}

nav {
    display: flex;
    justify-content: center;
    gap: 150px;
    padding: 40px;
    margin-left: 750px;
    margin-top: -60px;
    background-color: #e3aed5;
    padding: 15px 122px;
    width: 1293px;
}

nav a {
    font-family: "Cormorant SC",serif;
    margin-top: 150px;
    text-decoration: none;
    color: #000000;
    font-weight: 600;
    margin-left: 80px;

}

/* Seção de sinopse */
.sinopse {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    
}

.sinopse img {
    width: 500px;
    float: left;
    margin-right: 40px;
    border-radius: 10px;
    margin-left: 70px;
}

.sinopse h3{
    font-family: "Doppio One",serif;
    margin-top: 9px;
    margin-left: 630px;
    color: #A3027A;
    font-weight:normal;
    font-size: 24px;
}

.sinopse p{
    
    width: 460px;
    margin-left: 630px;
    margin-top: 15px;
    font-family: "Cormorant Garamond",serif;
    font-weight:bold;
    font-size: 20px;
 
}

/* Seção de personagens */
.personagens {
    font-family:  "Cormorant Garamond",serif;
    text-align: center;
    padding: 20px;
    font-size: 20px;
    font-weight: bolder;
    background-image: url(img/floricultura1.png);
    margin-top: 220px;
   
   
}

.personagens h3{
    margin-top: 10px;
    font-family: "Doppio One",serif;
    color: #A3027A;
    font-weight:normal;
    font-size: 24px;
    margin-left: -780px;
}

.Lily{
    margin-left: -740px;

}

.Ryle{
    margin-left: -20px;
    margin-top: -342px;
}

.Atlas{
    margin-top: -342px;
    margin-left: 710px;
}

.personagens img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin-bottom: 1em;
    margin-top: 40px;
}


/* Seção da autora */
.autora {
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    margin: 20px auto;
}

.autora img {
    width: 400px;
    height: 320px;
    border-radius: 10px;
    margin-right: -100px;
    margin-top: -218px;
    margin-left: 650px;
}

.autora h2{
    font-family: "Doppio One",serif;
    font-weight:normal;
    font-size: 30px;
    color: #A3027A;
    margin-left: -30px;
}

.autora h4{
    font-family: "Cormorant SC",serif;
    color: #A3027A;
    font-weight: bold;
    font-size: 18px;
    margin-left: 80px;
    margin-top: -23px;
}

.autora p{
    font-weight: 500;
    font-size: 20px;
    font-family: "Cormorant Garamond",serif;
    margin-top: 19px;
    width: 650px;
    margin-left: -30px;
}

/* Avaliações */
.opn1{

    margin: 20px auto;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #F5D1E7;
    border-radius: 10px;
    width: 80%;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.251);
}

.opn2{
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);


    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #F5D1E7;
    border-radius: 10px;
    width: 80%;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.251);
}

.opn3{
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);


    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #F5D1E7;
    border-radius: 10px;
    width: 80%;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.251);
}

#user{
    width: 50px;
    margin-top: -40px;
}

#stars{
    width: 100px;
    margin-top: -40px;
    
}

.avaliacoes h3{
    font-family: "Cormorant SC", serif;
    color: #A3027A;
    margin-top: -40px;
    margin-right: 10px;
    display: block;
   
}

.avaliacoes p{
    margin-top: 70px;
    margin-left: -200px;
}

/* Rodapé */
footer {
    text-align: center;
    padding: 20px;
    color: rgb(255, 255, 255);
    margin-top: 20px;
    background-image: url(img/capa.jpg);
    filter: opacity(70%);
}

footer p{
    color: rgb(255, 255, 255);
}

footer button{
   background-color: #71365D;
   color: #ffff;
}


/* java */
.item{
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: var(--background);
    margin-top: 2470px;
}

.item.ativo{
    display: block;

}

.item .titulo{
    font-size: 3rem;
    color: #ffffffa8;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    
    /* centralizar */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}   

.item .fruta{
    width: 100%;
    top: 0;
    z-index: 3;
    top: 50%;
    left: 50%;
}

#anterior, #proximo{
    position:absolute ;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: #EEE9;
    border: 1px;
    color: #EEE;
    border: 1px solid #EEE9;
    font-size:x-large;
    font-family: monospace;
    cursor: pointer;
    z-index: 4;
    border-radius: 50%;
    margin-top: 2470px;
}

#anterior{
    left: 30px;
}

#proximo{
    right: 30px;
}

@keyframes mexer{
    from{
        top:100%;
        opacity: 0;
    }
}

.item.ativo img.fruta{
    animation: mexer 0.5s ease-in-out 1;
}

.item.ativo .titulo{
    animation: mexer 0.5s ease-in-out 1;
}

@media (max-width: 768px){
    .container{
        flex-direction: column;
    }
}




/* Responsividade (mobile) */
@media(max-width: 320px){
    .item.ativo img.fruta{
        width: 100%;
        height: 200px;
        margin-top: 1px;
    }
    
    body{
        background-color: #F1EEE4;
    }
    
    header img{
        width: 108%;
        height: 200px;
        margin-top: -80px;
    }
    
    .foto {
        height: -900px;
    }
    
    /* Cabeçalho */
    header {
        font-family: "Doppio One",serif;
        padding: 20px;
        text-align: center;
        color: #A3027A;
        font-weight: bold;
        font-size: 12px;
        margin-left: -100px;
    }
    
    header h1{
        margin-top: -130px;
        margin-left: 30px;
    }
    
    header h3{
        margin-left: -85px;
    }
    
    nav {
        display: flex;
        justify-content: center;
        gap: 40px;
        margin-left: 10px;
        margin-top: -80px;
        background-color: #e3aed5;
        padding: 15px 122px;
        width: 400px;
        height: 190px;
    }
    
    nav a {
        margin-left: -30px;
        width: 70px;
    }

    .banner{
        margin: 40px auto;
        padding: 40px;
        border-radius: 10px;
        width: 250px;
        height: 130px;
        font-size: 20px;
        margin-top: 20px;
        margin-left: 4px;
    }
    
    .banner p{
        margin-left: -20px;
        margin-top: -20px;
        width: 230px;
        font-size: 15px;
    }
    
    /* Seção de sinopse */
    .sinopse {
        margin: 20px;
        padding: 20px;
        border-radius: 10px;
        width: 50%;
        
    }
    
    .sinopse img {
        width: 250px;
        margin-right: 20px;
        border-radius: 10px;
        margin-left: -37px;
        margin-top: -20px;
    }
    
    .sinopse h3{
        margin-left: -34px;
        font-size: 20px;
    }
    
    .sinopse p{
        width: 248px;
        margin-left: -34px;
        margin-top: 15px;
        font-size: 12px;
    }
    

    /* Seção de personagens */
    .personagens {
        text-align: center;
        padding: 20px;
        font-size: 15px;
        font-weight: bolder;
        background-image: url(img/floricultura1.png);
        width: 103%;
        margin-top: 20px;
        margin-left: -30px;
    }
    
    .personagens h3{
        margin-top: -10px;
        font-weight:normal;
        font-size: 20px;
        margin-left: -10px;
    }
    
    .Lily{
        margin-left: -10px;
    }
    
    .Ryle{
        margin-left: -10px;
        margin-top: -10px;
    }
    
    .Atlas{
        margin-top: 5px;
        margin-left: -10px;
    }
    
    .personagens img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-size: cover;
        background-position: center;
        margin-bottom: 1em;
        margin-top: 40px;
    }
    
    
    /* Seção da autora */
    .autora {
        padding: 20px;
        border-radius: 10px;
        width: 80%;
        margin: 20px auto;
        margin-top: 50px;
        margin-left: -4px;
    }
    
    .autora img {
        width: 200px;
        height: 160px;
        border-radius: 10px;
        margin-top: 10px;
        margin-left: 10px;
    }
    
    .autora h2{
        font-weight:normal;
        font-size: 20px;
        margin-left: -10px;
    }
    
    .autora h4{
        font-weight: bold;
        font-size: 13px;
        margin-left: 65px;
        margin-top: -16px;
    }
    
    .autora p{
        font-weight: 500;
        font-size: 12px;
        margin-top: 10px;
        width: 270px;
        margin-left: -10px;
        width: 250px;
    }
    
    /* Avaliações */
    .opn1{
        margin: 20px auto;
        width: 80%;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        
        display: flex;
        align-items: center;
        padding: 20px;
        background-color: #F5D1E7;
        border-radius: 10px;
        width: 78%;
        margin: 20px auto;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.251);
        margin-top: 30px;
        margin-left: 4px;
        font-size: 12px;
    }
    
    .opn2{
        margin: 20px auto;
        width: 80%;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        
        display: flex;
        align-items: center;
        padding: 20px;
        background-color: #F5D1E7;
        border-radius: 10px;
        width: 78%;
        margin: 20px auto;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.251);
        margin-top: 30px;
        margin-left: 4px;
        font-size: 12px;
    }
    
    .opn3{
        margin: 20px auto;
        width: 80%;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        
        display: flex;
        align-items: center;
        padding: 20px;
        background-color: #F5D1E7;
        border-radius: 10px;
        width: 78%;
        margin: 20px auto;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.251);
        margin-top: 30px;
        margin-left: 4px;
        font-size: 12px;
    }
    
    #user{
        width: 50px;
        margin-top: -20px;
        margin-top: -260px;
    }
    
    #stars{
        width: 80px;
        margin-top: -200px;
        margin-left: -65px;
     
    }
    
    .avaliacoes h3{
        margin-top: -150px;
        margin-right: 10px;
        display: block;
        font-size: 16px;
    }
    
    .avaliacoes p{
        margin-top: 80px;
        margin-left: -120px;
    }
    
    /* Rodapé */
    footer {
        text-align: center;
        padding: 20px;
        color: rgb(255, 255, 255);
        margin-top: 20px;
        background-image: url(img/capa.jpg);
        filter: opacity(70%);
        margin-left: -50px;
        font-size: 12px;
    }
    
    footer p{
        color: rgb(255, 255, 255);
    }
    
    footer button{
       background-color: #71365D;
       color: #ffff;
       margin-top: 10px;
    }
}


/* java */
.item{
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: var(--background);
    margin-top: 3110px;
}

.item.ativo{
    display: block;

}

.item .titulo{
    font-size: 1rem;
    color: #ffffffa8;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: -145px;
    
    /* centralizar */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}   

.item .fruta{
    width: 100%;
    top: 0;
    z-index: 3;
    top: 50%;
    left: 50%;
}

#anterior, #proximo{
    position:absolute ;
    top: 50%;
    width: 25px;
    height: 25px;
    cursor: pointer;
    z-index: 4;
    border-radius: 50%;
    margin-top: 2960px;
    text-align: center;
}

#anterior{
    left: 30px;
}

#proximo{
    right: 30px;
}

@keyframes mexer{
    from{
        top:100%;
        opacity: 0;
    }
}

.item.ativo img.fruta{
    animation: mexer 0.5s ease-in-out 1;
}

.item.ativo .titulo{
    animation: mexer 0.5s ease-in-out 1;
}

@media (max-width: 768px){
    .container{
        flex-direction: column;
    }
}

